.speech{
    font-style: italic;
    font-size: 16px;
    color: black;
}

.song{
    font-style:oblique;
    font-size: 16px;
    color: black;
}
.directions{
    font-style: initial;
    font-size: 16px;
    color: black;
    background-color: limegreen;
}
.directions:hover{
    background-color: black;
    color: rgb(214, 49, 49);
}
.directions{
    font-style: oblique;
    font-size: 16px;
    color: antiquewhite;
    background-color: rgb(44, 77, 77);
}
.directions:hover{
    background-color:rgb(213, 160, 91)  
      color blue;  
}
.boa{
    font-style: italic;
    font-size: 16px;
    color:black;
}
.boa:hover{
    text-shadow: 2px 2px rgb(222, 135, 135);
    border-style: dashed;
    background-color: lightslategrey;
}
.boa{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: aqua;
}
.dic{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: brown;
}
.dic{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color: tomato;
}

table.table
{
    color:rgb(88, 36, 88);
    text-align: center;
    padding: 50px;
    margin:17px;
}
table, th, td {
    border: 4px  double;
  }
tr:nth-child(even)
{
    background-color: rgb(175, 188, 196);
}
boa{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: aqua;
}
.directions:hover{
    background-color: black;
    color: white;
}
.navbar-horizontal {
list-style-type: none;
overflow: hidden;
margin: 0;
padding: 4px;
background-color:rgb(82, 17, 221);

}
li a {
display: block;
color: rgb(196, 82, 82);
float: left;
padding: 4px;
text-decoration: none;

}

